<h4>{{'Changing Phone' | translate}}</h4>
<div class="cont">

  <div class="cont">
    <input type="text"class="adding" placeholder="+375(XX)XXX-XX-XX" [(ngModel)]="phone"
           pattern="\+375\([0-9]{2}\)[0-9]{3}-[0-9]{2}-[0-9]{2}" #uphone="ngModel">
    <div class="button" (click)="editPhone()"
         [style.background]="uphone.errors?.pattern||phone.length==0 ? 'rgba(0, 0, 0, .15)' : '#78b917'"
         [style.pointer-events]="uphone.errors?.pattern||phone.length==0 ? 'none' : 'auto' ">
      <a>{{'Save' | translate}}</a>
    </div>
  </div>
</div>


<jw-modal id="alert-dialog-edit-phone">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" (click)="closeModal('alert-dialog-edit-phone');" class="icon" x="0px" y="0px"
         viewBox="0 0 512.001 512.001" fill="currentColor" xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
</svg>
  </div>
  <div class="cont" style="margin-top: 10px">
    <p *ngIf="st==1">{{'Phone successfully added' | translate}}</p>
    <p *ngIf="st==2">{{'This phone already exists' | translate}}</p>
  </div>
</jw-modal>


<jw-modal id="warning-edit-phones">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" (click)="closeModal('warning-edit-phones');" class="icon" x="0px" y="0px"
         viewBox="0 0 512.001 512.001" fill="currentColor" xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
</svg>
  </div>
  <app-warning-edit-phone (mes)="answer_phone($event)" [title]="title" [element_phone]="element_phone"></app-warning-edit-phone>
</jw-modal>

