<div style="padding: 15px">
  <div class="component">
    <p><b>{{'FIO' | translate}}</b></p>
    <p><i>{{lastname + ' ' + firstname + ' ' + middle_name}}</i></p>
  </div>

  <hr class="dashed">

  <div class="component">
    <p><b>{{'Customer type' | translate}}</b></p>
    <p><i>{{type_cl}}</i></p>
  </div>

  <hr class="dashed">

  <div class="component">
    <p><b>{{'Address' | translate}}</b></p>
    <p><i>{{address}}</i></p>
  </div>

  <hr class="dashed">

  <div class="component">
    <p><b>{{'Identification number' | translate}}</b></p>
    <p><i>{{i_n}}</i></p>
  </div>

  <hr class="dashed">

  <div class="component">
    <p><b>{{'Passport Series and number' | translate}}</b></p>
    <p><i>{{s_n_p}}</i></p>
  </div>

  <hr class="dashed">

  <div class="component">
    <p><b>{{'Issued by whom' | translate}}</b></p>
    <p><i>{{kv}}</i></p>
  </div>

  <hr class="dashed">

  <div class="component">
    <p><b>{{'Date of issue' | translate}}</b></p>
    <p><i>{{data_v}}</i></p>
  </div>
</div>
