<div class="container" style="width: 70vw;">
  <h3>{{ 'Enter the pin code' | translate}}</h3>
  <p style="margin: 20px 0; font-size: 20px" *ngIf="status==1">{{'The keys match' | translate}}</p>
  <p style="margin: 20px 0; font-size: 20px" *ngIf="status==2">{{'The keys dont match' | translate}}</p>
  <p style="margin: 20px 0; font-size: 20px" *ngIf="status==3">{{'Enter the new key' | translate}}</p>
  <p style="margin: 20px 0; font-size: 20px" *ngIf="status==4">{{'Re-enter the new key' | translate}}</p>
  <p style="margin: 20px 0; font-size: 20px" *ngIf="status==5">{{'New key saved' | translate}}</p>
  <div class="patternlock">
   <div class="key-area">
     <div class="key"></div>
     <div class="key"></div>
     <div class="key"></div>
     <div class="key"></div>
     <div class="key"></div>
   </div>
    <div class="numbers">
      <div class="icon" (click)="pushkey(1)"><b>1</b></div>
      <div class="icon" (click)="pushkey(2)"><b >2</b></div>
      <div class="icon" (click)="pushkey(3)"><b>3</b></div>
    </div>
    <div class="numbers">
      <div class="icon" (click)="pushkey(4)"><b>4</b></div>
      <div class="icon" (click)="pushkey(5)"><b>5</b></div>
      <div class="icon" (click)="pushkey(6)"><b>6</b></div>
    </div>
    <div class="numbers">
      <div class="icon" (click)="pushkey(7)"><b>7</b></div>
      <div class="icon" (click)="pushkey(8)"><b>8</b></div>
      <div class="icon" (click)="pushkey(9)"><b>9</b></div>
    </div>
    <div class="numbers">
      <div class="icon"></div>
      <div class="icon" (click)="pushkey(0)"><b>0</b></div>
      <div class="icon" (click)="delkey()"><b>
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-backspace-fill icon"
             viewBox="0 0 16 16">
          <path
            d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"/>
        </svg>
      </b>
      </div>
    </div>
  </div>
</div>
