<h4>{{'Change password' | translate}}</h4>
<div class="cont">
  <p>{{'The password must contain 10 characters' | translate}}</p>
  <div class="password-area">
    <input type="password" id="pass3" class="adding" placeholder="{{'Current password for the IBS' | translate}}"
           pattern="^[a-zA-Z0-9]+$" #upassword3="ngModel" [(ngModel)]="password3" minlength="10" maxlength="10">
    <svg *ngIf="value3 == false" (click)="changeType3()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill icon"
         viewBox="0 0 16 16">
      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
    </svg>
    <svg *ngIf="value3 == true" (click)="changeType3()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-slash-fill icon"
         viewBox="0 0 16 16">
      <path
        d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.027 7.027 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.088z"/>
      <path
        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6l-12-12 .708-.708 12 12-.708.707z"/>
    </svg>
  </div>

  <div class="password-area">
    <input id="pass1" type="password" class="adding" placeholder="{{'New password' | translate}}"
           pattern="^[a-zA-Z0-9]+$" #upassword="ngModel" [(ngModel)]="password" minlength="10" maxlength="10">
    <svg *ngIf="value == false" (click)="changeType()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill icon"
         viewBox="0 0 16 16">
      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
    </svg>
    <svg *ngIf="value == true" (click)="changeType()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-slash-fill icon"
         viewBox="0 0 16 16">
      <path
        d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.027 7.027 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.088z"/>
      <path
        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6l-12-12 .708-.708 12 12-.708.707z"/>
    </svg>
  </div>
  <div class="password-area">
    <input id="pass2" type="password" class="adding" placeholder="{{'Repeat the password' | translate}}"
           pattern="^[a-zA-Z0-9]+$" #upassword2="ngModel" [(ngModel)]="password2" minlength="10" maxlength="10">
    <svg *ngIf="value2 == false" (click)="changeType2()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-fill icon"
         viewBox="0 0 16 16">
      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
    </svg>
    <svg *ngIf="value2 == true" (click)="changeType2()" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-eye-slash-fill icon"
         viewBox="0 0 16 16">
      <path
        d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.027 7.027 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.088z"/>
      <path
        d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6l-12-12 .708-.708 12 12-.708.707z"/>
    </svg>
  </div>

  <small style="color: red" *ngIf="st==1">{{'Passwords dont match' | translate}}</small>
  <small style="color: red" *ngIf="st==2">{{'This password is incorrect' | translate}}</small>

  <p>{{'Your password is also used to log in to the browser version:' | translate}} <a href="https://www.belveb24.by" style="color: blue">https://www.belveb24.by/</a></p>
  <div class="button" (click)="savePassword()"
       [style.background]="upassword2.errors?.pattern||password2.length!=10||upassword.errors?.pattern||
     password.length!=10||upassword3.errors?.pattern||password3.length==0 ? 'rgba(0, 0, 0, .15)' : '#78b917'"
       [style.pointer-events]="upassword2.errors?.pattern||password2.length!=10||upassword.errors?.pattern||
     password.length!=10||upassword3.errors?.pattern||password3.length==0 ? 'none' : 'auto' ">
    <a><b>{{'Save' | translate}}</b></a>
  </div>
</div>


<jw-modal id="alert-dialog-success">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" (click)="closeModal('alert-dialog-success');" class="icon" x="0px" y="0px"
         viewBox="0 0 512.001 512.001" fill="currentColor" xml:space="preserve">
<g>
	<g>
		<path d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717
			L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859
			c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287
			l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285
			L284.286,256.002z"/>
	</g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
      <g>
</g>
</svg>
  </div>
  <div class="cont" style="margin-top: 10px">
    <p style="text-align: center">{{'Data saved successfully' | translate}}</p>
  </div>
</jw-modal>
